# Python build and distribution
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info/
*.egg

# Pytest and testing artifacts
.pytest_cache/
.pytest_cache*
.cache/
.htmlcov/
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
nosetests.xml
pylintreport.txt
xunit-*.xml

# Environments
.env
.venv
env/
venv/
ENV/

**/*_CODEBASE.txt